.Aside {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh;
  max-width: calc(0.4 * 80vw);
}

@media screen and (max-width: 800px) {
  .Aside {
    min-height: 25vh;
    min-width: 80vw;
    order: 1;
  }
}
