.Container {
  text-decoration: none;
  color: slategray;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  flex-basis: 33%;
}

.Container:hover {
  transform: translate3d(0, -1vh, 0);
  transition: 0.3s;
}

.Cover {
  height: 20vh;
  position: relative;
  margin: 0 0.5vw;
}

.Image {
  border-radius: 15px 15px 0 0;
}

.CoverDate {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}

.CoverTags {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  text-align: right;
}

.ContentInfo {
  margin: 1vh 0 0 0;
  position: relative;
}

.Content {
  width: 100%;
  position: relative;
}

.Content h1 {
  margin: 0 auto;
}
.Description {
  max-height: 30%;
}

@media screen and (max-width: 1200px) {
  .Container {
    flex-direction: column;
  }
  .Cover {
    height: calc(40vw * 0.6);
  }
}

@media screen and (max-width: 800px) {
  .Cover {
    height: calc(60vw * 0.6);
  }
}
