.Container {
  flex-basis: 33%;
  transition: 0.3s;
  max-height: 70vh;
  margin: 1vh 0;
}

.Post {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: slategray;
}

.Container:hover {
  transform: translate3d(0, -1vh, 0);
  transition: 0.3s;
}

.Cover {
  height: 20vh;
  position: relative;
  margin: 0 0.5vw;
  border-radius: 15px 15px 0 0;
}

.Image {
  border-radius: 15px 15px 0 0;
}

.CoverDate {
  display: inline-block;
  width: 50%;
  overflow: hidden;
}

.CoverTags {
  display: inline-block;
  width: 50%;
  overflow: hidden;
  text-align: right;
}

.ContentInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ContentTitle {
  margin: 1vh 0;
}

.Content {
  position: relative;
}

.Content h1 {
  margin: 0 auto;
}
.Description {
  max-height: 30%;
  overflow: hidden;
}

@media screen and (max-width: 1100px) {
  .Container {
    flex-direction: column;
    flex-basis: 50%;
  }
  .Cover {
    height: calc(40vw * 0.4);
  }
}

@media screen and (max-width: 800px) {
  .Cover {
    height: 25vh;
    margin: 0;
  }
  .Container {
    margin: 2vh 0;
    min-width: 80vw;
    min-height: 50vh;
  }
  .Content {
    max-height: 25vh;
    overflow: hidden;
  }
}
