.StyledLink {
  display: block;
  color: slategray;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  list-style: none !important;
}

.StyledLink:hover {
  text-decoration: none;
  color: turquoise;
}
.StyledLink::marker {
  display: block;
}

.ListItemWrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 2vh 2vw;
  text-decoration: none;
  float: left;
}
