.Card {
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  position: relative;
  max-width: calc(0.48 * 80vw);
}

.ShowDarkBackground {
  border-radius: 10px;
  background-color: #272727;
}

.ShowLightBackground {
  background-color: rgb(226, 210, 183);
}

.Light {
  background-color: rgb(255, 178, 76);
}

/* .Card:hover {
  background-color: #272727;
  border-radius: 10px;
} */

.HideBackground {
  background-color: #222222;
}

.HideBackground:hover {
  background-color: #222222;
}

.MediumWidth {
  margin: 0 0.5vw;
}

.ShowBackground .Light {
  background-color: burlywood;
}

@media screen and (max-width: 800px) {
  .Card {
    padding: 0vh 5vw;
    max-width: 80vw;
  }
  .MediumWidth {
    max-height: 30vw;
    width: 60vw;
    margin: 0;
    padding: 0vh 3vw;
    min-height: 25vh;
  }
}
