.bold {
  font-weight: bold;
}

.codeLight {
  font-family: monospace;
  padding: 2px 4px;
  border-radius: 2px;
  background-color: rgba(248, 188, 90, 0.356);
  color: rgb(59, 55, 55);
}

.codeDark {
  background-color: rgba(157, 167, 177, 0.336);
  color: lightgray;
  font-family: monospace;
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
