.Bar1 {
  width: 45px;
  height: 0.5vh;
  background-color: slategray;
  margin: 0.5vh 2vw;
  transition: 0.4s;
}

.Bar2 {
  width: 45px;
  height: 0.5vh;
  background-color: slategray;
  margin: 0.5vh 2vw;
  transition: 0.4s;
}

.Bar3 {
  width: 45px;
  height: 0.5vh;
  background-color: slategray;
  margin: 0.5vh 2vw;
  transition: 0.4s;
}

.Menu {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7vh;
  margin: 1.5vh 2vw;
  background-color: #333333 !important;
}

.Menu:hover {
  cursor: pointer;
  border: 2px dashed turquoise;
}

.Change .Bar1 {
  -webkit-transform: rotate(-45deg) translate(-11px, 11px);
  transform: rotate(-45deg) translate(-11px, 8px);
}

.Change .Bar2 {
  opacity: 0;
}

.Change .Bar3 {
  -webkit-transform: rotate(45deg) translate(-11px, -11px);
  transform: rotate(45deg) translate(-11px, -11px);
}
