.ButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  float: left;
  border: 0.15vw solid blanchedalmond;
  border-radius: 5px;
  height: 6vh;
  width: calc(6vh * 5);
  transition: 0.3s ease-in-out;
  margin: 6vh 1vw;
}

.ListItem {
  width: 100%;
  list-style: none;
  margin: 0;
}

.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: blanchedalmond;

  height: 6vh;
}

.ButtonWrapper:hover {
  background-color: rgba(255, 235, 205, 0.5);
  transform: translate3d(0, -0.5vh, 0);
}
