.StyledLink {
  display: block;
  color: slategray;
  text-align: center;
  text-decoration: none;
}

.StyledLink:hover {
  text-decoration: none;
  color: turquoise;
}
.StyledLink::marker {
  display: block;
}

.ListItemWrapper {
  flex-grow: 1;
  display: flex;
  height: 10vh;
  align-items: center;
  margin: 0 2vw;
  text-decoration: none;
  float: left;
}
