.Section {
  border-bottom: 0.2vh solid slategray;
  padding-bottom: 5%;
  margin-bottom: 5%;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: 80vh;
}
