.Card {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  margin-bottom: 2vh;
  width: 40vw;
  height: 20vh;
  justify-self: center;
  align-self: center;
}

.Header {
  flex: 3;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Content {
  flex-basis: 100%;
}

@media screen and (max-width: 1400px) {
  .Card {
    flex-basis: 33%;
  }
}

@media screen and (max-width: 800px) {
  .Card {
    min-width: 80vw;
    min-height: 20vw;
  }
  .Card:hover {
    background-color: #222222;
  }
}
