.Card {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: space-between;
  position: relative;
  margin: 2vh 0;
  min-width: 35vw;
  height: 20vh;
  justify-self: center;
  align-self: center;
  max-width: 60%;
}

.Header {
  flex: 3;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Content {
  flex-basis: 100%;
}

@media screen and (max-width: 1400px) {
  .Card {
    flex-basis: 33%;
  }
}

@media screen and (max-width: 800px) {
  .Card {
    min-width: 80vw;
    min-height: 20vw;
    padding: 2vh 0;
  }
}
