.Bar1 {
  width: 6vw;
  height: 7%;
  background-color: slategray;
  margin: 0.4vh 2vw;
  transition: 0.4s;
}

.Bar2 {
  width: 6vw;
  height: 7%;
  background-color: slategray;
  margin: 0.4vh 2vw;
  transition: 0.4s;
}

.Bar3 {
  width: 6vw;
  height: 7%;
  background-color: slategray;
  margin: 0.4vh 2vw;
  transition: 0.4s;
}

.Menu {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  height: 6vh;
  width: 12.5vw;
  margin: 1.5vh 3.5vw;
  transition: 0.3s ease-in-out;
  position: fixed;
  right: 0;
  top: 0;
}

.Light {
  border: 3px dashed teal;
  background-color: papayawhip;
}

.Dark {
  border: 3px dashed turquoise;
  background-color: #222222;
}

.Change {
  cursor: pointer;
  border-style: solid;
}

.Change .Bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px);
  transform: rotate(-45deg) translate(-8px, 7px);
}

.Change .Bar2 {
  opacity: 0;
}

.Change .Bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}
