.Bar1 {
  border-radius: 4px;
  width: 35px;
  height: 4px;
  margin: 0.6vh 0;
}

.Bar2 {
  border-radius: 4px;
  width: 35px;
  height: 4px;
  margin: 0.6vh 0;
}

.Bar3 {
  border-radius: 4px;
  width: 35px;
  height: 4px;
  margin: 0.6vh 0;
}

.Menu {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  align-items: center;
  height: 10vh;
  width: 20vw;
  position: fixed;
  right: 0;
  top: 0;
  border: none !important;
}

.Light {
  background-color: papayawhip;
}

.Dark {
  background-color: #222222;
}

.Change {
  cursor: pointer;
}
.Change .Dark {
  background-color: #333333;
}
.Change .Light {
  background-color: rgb(226, 210, 183);
}

.Change .Bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 7px);
  transform: rotate(-45deg) translate(-6px, 11px);
}

.Change .Bar2 {
  opacity: 0;
}

.Change .Bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -7px);
  transform: rotate(45deg) translate(-6px, -12px);
}
