.Heading1 {
  align-self: flex-start;
  margin: 4vh 0 0 0;
  font-size: 4vh;
  text-decoration: underline;
}

.Heading2 {
  align-self: flex-start;
  margin: 4vh 0 0 0;
  font-size: 2vh;
}

.Paragraph {
  align-self: flex-start;
}

.ImageContainer {
  width: calc(48vw);
  height: calc(48vw / 1.91);
  display: block;
  position: relative;
  margin: 1vh 0;
}

.Code {
  /* white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap; 
  white-space: -o-pre-wrap; */
  overflow: auto;
  -moz-tab-size: 3;
  -o-tab-size: 3;
  tab-size: 3;
  word-wrap: break-word;
  padding: 15px 25px;
  background-color: rgb(226, 210, 183);
  border-radius: 15px;
  margin-bottom: 7vh;
}

.MobileWidth {
  width: 80vw;
}

.DesktopWidth {
  width: 48vw;
}

.Code::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  padding: 2px;
}
.Code::-webkit-scrollbar-track {
  border-radius: 10px;
  width: 5px;
}

.Code::-webkit-scrollbar-thumb {
  background: slategray;
  width: 5px;
  border-radius: 10px;
  margin: 2px 0;
}

@media screen and (max-width: 800px) {
  .ImageContainer {
    width: calc(80vw - 2.5%);
    height: calc(80vw / 1.91);
  }
}
