html,
body {
  padding: 0;
  margin: 0 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 1.7vh;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 0.5vw;
}

/* body::-webkit-scrollbar-track {
  width: 0.5vw;
  background-color: lightgray;
} */

body::-webkit-scrollbar-thumb {
  width: 0.5vw;
  border-radius: 10px;
  background-color: slategray;
}

img {
  max-width: 100%;
  display: block;
}
.dark ::marker {
  color: turquoise;
}
.light ::marker {
  color: teal;
}
.slide-right {
  width: 100%;
  overflow: hidden;
}

.slide-right h1 {
  animation: 1.5s slide-right 0s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

p {
  text-align: left;
  font-size: 1.8vh;
  margin: 1vh 0 1vh 0;
}

a {
  color: lightgray;
}

.light a {
  color: rgb(61, 69, 77);
}

section {
  display: flex;
  flex-direction: row;
}

.light {
  background-color: papayawhip;
  color: rgb(61, 69, 77);
  scrollbar-color: papayawhip;
}
body .light {
  background-color: papayawhip;
  color: rgb(61, 69, 77);
}

.dark {
  background-color: #222222;
  color: lightgray;
  scrollbar-color: #222222;
}

.Quote .dark {
  text-align: center;
  font-size: 2vh;
  color: blanchedalmond;
}

.Quote .light {
  text-align: center;
  font-size: 2vh;
  color: rgba(252, 203, 130);
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 1vw;
  }
  html,
  body {
    line-height: 1.5;
  }
  p {
    font-size: 2vh;
  }
  small {
    font-size: 1.5vh;
  }
}
